version: '3.7'

services:

  db:
    image: postgres:13
    volumes:
      - ./db:/var/lib/postgresql/data:delegated
      - ./db_dumps:/var/lib/postgresql/dumps:delegated
      - ./docker/local/postgres:/docker-entrypoint-initdb.d:delegated
    ports:
      - "9932:5432"
    env_file: dmas-pubfe.local.env
    networks:
      - webnet

  web:
    container_name: dmas_public
    build:
      context: .
      dockerfile: docker/local/django/Dockerfile
    entrypoint: docker/local/django/entrypoint.sh
    command: tail -f /dev/null
    ports:
      - "9980:9000"
      - "9982:22"
    env_file: dmas-pubfe.local.env
    volumes:
      - .:/usr/src/app:delegated
    networks:
      - webnet
    depends_on:
      - db

networks:
  webnet:
