[tool.poetry]
name = "market-access-public-frontend"
version = "0.0.1"
description = "Hello"
authors = ["Ferenc Csepregi <feri@31.digital>"]

[tool.poetry.dependencies]
python = "^3.7"
directory-forms-api-client = "==5.4.0"
django = "==3.1.14"
django-environ = "==0.4.5"
django-extensions = "==3.0.9"
django-log-formatter-ecs = "==0.0.5"
django-model-utils = "==4.0.0"
django-settings-export = "==1.2.1"
elastic-apm = "==5.9.0"
gunicorn = "==20.0.4"
gevent = "==20.9.0"
psycopg2-binary = "==2.8.6"
python-json-logger = "==2.0.0"
python-dateutil = "==2.8.1"
python-magic = "==0.4.18"
requests = "==2.25.1"
sentry-sdk = "==0.18.0"
whitenoise = "==5.2.0"
urllib3 = "==1.26.5"
django-webpack-loader = "~=1.3.0"

[tool.poetry.dev-dependencies]
black = "~=20.8b1"
flake8 = "~=3.8.2"
ipython = "~=7.31.1"
mock = "~=4.0.1"
pyopenssl = "~=19.1.0"
pytest = "==7.2.0"
pytest-cov = "~=2.10.1"
pytest-django = "~=3.10.0"
pytest-xdist = "~=2.1.0"
werkzeug = "~=1.0.0"
splinter = "^0.14.0"
selenium-wire = "^2.1.2"

[build-system]
requires = ["poetry>=1.1.6"]
build-backend = "poetry.masonry.api"
