{% extends 'base.html' %}
{% load breadcrumbs %}
{% load headers %}
{% load query_params %}
{% block page_title %}{{ title }} - {{ block.super }}{% endblock %}

{% block page_content %}
    {% content_header title %}

    <p class="govuk-body">
        <a href="{% url "barriers:list" %}{% sector_filter "all" %}" class="govuk-link">Select all sectors</a>
    </p>

    <h2>Sector</h2>
    <div class="filter-options__container">
        {% for initial_letter, sector_list in sectors.items %}
            <div class="filter-options-group__container">
                <h3>{{ initial_letter }}</h3>
                {% for sector in sector_list %}
                    <p class="govuk-body">
                        <a href="{% url "barriers:list" %}{% sector_filter sector.slug %}"
                           class="govuk-link{% if not sector.records_count %} govuk-link--muted{% endif %}">
                            {{ sector.name }}{% if sector.records_count %} ({{ sector.records_count }}){% endif %}
                        </a>
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
