{% extends 'base.html' %}
{% load breadcrumbs %}
{% load headers %}
{% load query_params %}
{% block page_title %}{{ block.super }} - {{ title }}{% endblock %}

{% block breadcrumbs %}
    {% show_breadcrumbs breadcrumbs %}
{% endblock %}

{% block page_content %}
    {% content_header title %}

    <a href="{% url "barriers:list" %}{% location_filter "all" %}">Select all</a>

{#    <h2>Trading Bloc</h2>#}
{#    <a href="{% url "barriers:list" %}{% location_filter "eu" %}">European Union</a>#}

    <h2>Country</h2>
    <div class="filter-options__container">
        {% for init, country_list in countries.items %}
            <div class="filter-options-group__container">
                <h3>{{ init }}</h3>
                {% for country in country_list %}
                    <p>
                        <a href="{% url "barriers:list" %}{% location_filter country.slug %}"
                           class="govuk-link{% if not country.records_count %} govuk-link--muted{% endif %}">
                            {{ country.name }}{% if country.records_count %} ({{ country.records_count }}){% endif %}
                        </a>
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
