{% extends 'base.html' %}
{% load breadcrumbs %}
{% load headers %}
{% load query_params %}
{% block page_title %}{{ title }} - {{ block.super }}{% endblock %}

{% block page_content %}
    {% content_header title %}

    <a href="{% url "barriers:list" %}{% location_filter "all" %}" class="govuk-link">Select all</a>

    <h2>Trading Bloc</h2>
    <div class="filter-options__container">
        {% for initial_letter, trading_blocs_list in trading_blocs.items %}
            <div class="filter-options-group__container">
                {% for trading_bloc in trading_blocs_list %}
                    <p>
                        <a href="{% url "barriers:list" %}{% location_filter trading_bloc.slug %}"
                           class="govuk-link{% if not trading_bloc.records_count %} govuk-link--muted{% endif %}">
                            {{ trading_bloc.name }}{% if trading_bloc.records_count %} ({{ trading_bloc.records_count }}){% endif %}
                        </a>
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <h2>Country</h2>
    <div class="filter-options__container">
        {% for initial_letter, country_list in countries.items %}
            <div class="filter-options-group__container">
                <h3>{{ initial_letter }}</h3>
                {% for country in country_list %}
                    <p>
                        <a href="{% url "barriers:list" %}{% location_filter country.slug %}"
                           class="govuk-link{% if not country.records_count %} govuk-link--muted{% endif %}">
                            {{ country.name }}{% if country.records_count %} ({{ country.records_count }}){% endif %}
                        </a>
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
