{% extends 'base.html' %}
{% load breadcrumbs %}
{% load headers %}
{% load query_params %}
{% block page_title %}{{ title }} - {{ block.super }}{% endblock %}

{% block page_content %}
    {% content_header title caption below=True %}

    <p class="govuk-body">
        <a href="{% url "barriers:list" %}{% location_filter "all" %}" class="govuk-link govuk-!-font-weight-bold">
            Select all locations
        </a>
    </p>

    {% if countries_with_records %}
    <h2 class="govuk-!-margin-bottom-0">Country</h2>
    <span class="govuk-caption-m govuk-!-margin-bottom-1">Countries with no results are hidden, brackets show the number of issues.</span>
    <div class="filter-options__container">
        {% for initial_letter, country_list in countries.items %}
            {% if initial_letter in countries_with_records %}
            <div class="filter-options-group__container">
                <h3>{{ initial_letter }}</h3>
                {% for country in country_list %}
                    <p class="govuk-body">
                        {% if country.records_count %}
                            <a href="{% url "barriers:list" %}{% location_filter country.slug %}"
                               class="govuk-link">
                                {{ country.name }} ({{ country.records_count }})
                            </a>
                        {% else %}
{#                            TODO: Hide until there's a toggle to show options without records#}
{#                            <a href="{% url "barriers:list" %}{% location_filter country.slug %}"#}
{#                               class="govuk-link govuk-link--muted govuk-link">#}
{#                                {{ country.name }}#}
{#                            </a>#}
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if trading_blocs_with_records %}
    <h2 class="govuk-!-margin-bottom-0">Trading Bloc</h2>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">Trading blocs with no results are hidden, brackets show the number of issues.</span>
    <div class="filter-options__container">
        {% for initial_letter, trading_blocs_list in trading_blocs.items %}
            {% if initial_letter in trading_blocs_with_records %}
            <div class="filter-options-group__container">
                {% for trading_bloc in trading_blocs_list %}
                    <p class="govuk-body">
                    {% if trading_bloc.records_count %}
                        <a href="{% url "barriers:list" %}{% location_filter trading_bloc.slug %}"
                           class="govuk-link">
                            {{ trading_bloc.name }} ({{ trading_bloc.records_count }})
                        </a>
                    {% else %}
{#                        TODO: Hide until there's a toggle to show options without records#}
{#                        <a href="{% url "barriers:list" %}{% location_filter trading_bloc.slug %}"#}
{#                           class="govuk-link govuk-link--muted">#}
{#                            {{ trading_bloc.name }}#}
{#                        </a>#}
                    {% endif %}
                    </p>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
