{% extends 'base.html' %}
{% load breadcrumbs %}
{% load headers %}
{% load query_params %}

{% block page_title %}{{ barrier.title }} - {{ block.super }}{% endblock %}

{% block page_content %}

    <section class="govuk-!-margin-bottom-9">

        <span class="govuk-caption-m">Public ID: {{ barrier.public_id }}</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">{{ barrier.title }}</h1>
        <span class="govuk-caption-s">in {{ barrier.simple_location }}</span>

    </section>

    <section class="govuk-!-margin-bottom-9">
        <!-- Summary -->
        <h2 class="govuk-heading-m">Trade barrier summary</h2>
        <p class="govuk-body field-value">{{ barrier.summary }}</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <!-- Sectors -->
        <h2 class="govuk-heading-s field-heading">Sectors affected</h2>
        <ul class="govuk-list govuk-list--bullet field-value">
        {% for sector in barrier.sectors_list %}
            <li>{{ sector }}</li>
        {% endfor %}
        </ul>
{# Remove Category field until further notice #}
{# ========================================================================================   #}
{#        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">#}
{#        <!-- Category -->#}
{#        <h2 class="govuk-heading-s field-heading">Categories</h2>#}
{#        <ul class="govuk-list govuk-list--bullet field-value">#}
{#        {% for category in barrier.categories_list %}#}
{#            <li>{{ category }}</li>#}
{#        {% endfor %}#}
{#        </ul>#}
{# ========================================================================================   #}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <!-- Status -->
        <h2 class="govuk-heading-s field-heading">Resolved</h2>
        <p class="govuk-body field-value">{{ barrier.is_resolved_text }}</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-s field-heading">Last updated</h2>
        <p class="govuk-body field-value">{{ barrier.last_published_on|date:"j F Y" }}</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-s field-heading">Public ID</h2>
        <p class="govuk-body field-value">{{ barrier.public_id }}</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </section>

    <section>
        <a href="{% url "barriers:list" %}{% remove_filter "nada" %}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Back to search results
        </a>
    </section>


    <section>
        <p class="govuk-body">Do you have an issue with a trade barrier? Contact us on <a class="govuk-link" href="https://www.great.gov.uk/report-trade-barrier/" target="_blank">report a trade barrier</a>.</p>
    </section>

{% endblock %}
