{% extends 'base.html' %}
{% load headers %}

{% block page_title %}{{ title }} - {{ block.super }}{% endblock %}

{% block page_content %}
    {% content_header title %}
    <div>
        <p class="govuk-body"><a href="{% url 'barriers:choose-location' %}?resolved=0" class="govuk-link">Find active trade barriers by location</a></p>
        <p class="govuk-body">or</p>
        <p class="govuk-body"><a href="{% url 'barriers:choose-sector' %}?resolved=0" class="govuk-link">Find active trade barriers by sector</a></p>
    </div>
{% endblock %}
