{% extends 'base.html' %}
{% load breadcrumbs %}
{% load headers %}
{% load query_params %}

{% block page_title %}Search results - {{ block.super }}{% endblock %}

{% block page_content %}

    {% content_header title %}

    <section class="restrict-width">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Location
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="{% url "barriers:choose-location" %}{% remove_filter "location" %}" class="govuk-link">
                    {% if location %}
                        {{ location.name }}
                    {% else %}
                        Filter by location
                    {% endif %}
                    </a>
                </dd>
                <dd class="govuk-summary-list__actions">
                {% if location %}
                    <a href="{% url "barriers:list" %}{% remove_filter "location" %}" class="govuk-link">
                        Clear<span class="govuk-visually-hidden"> location</span>
                    </a>
                {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sector
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="{% url "barriers:choose-sector" %}{% remove_filter "sector" %}" class="govuk-link">
                    {% if sector %}
                        {{ sector.name }}
                    {% else %}
                        Filter by sector
                    {% endif %}
                    </a>
                </dd>
                <dd class="govuk-summary-list__actions">
                    {% if sector %}
                    <a href="{% url "barriers:list" %}{% remove_filter "sector" %}" class="govuk-link">
                        Clear<span class="govuk-visually-hidden"> sector</span>
                    </a>
                    {% endif %}
                </dd>
            </div>
        </dl>
    </section>

    <section>
        <div class="filter-results-header">
            <div class="filter-results-header__row">
                <div class="filter-results-count__container">
                    <h2 class="filter-results-title">
                        {{ barriers.count }}
                        <span class="filter-results-title__caption"> result{{ barriers.count|pluralize }} found</span>
                    </h2>
                </div>
            </div>
        </div>
        {% if barriers.count %}
        <table class="govuk-table filter-results-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Title</th>
                <th scope="col" class="govuk-table__header">Sector</th>
                <th scope="col" class="govuk-table__header">Location</th>
                {% if request.resolved %}
                    <th scope="col" class="govuk-table__header">Resolved date</th>
                {% endif %}
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for barrier in barriers.all %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="{% url "barriers:details" barrier.id %}{% remove_filter "nada" %}" class="govuk-link">
                            {{ barrier.title }}
                        </a>
                    </td>
                    <td class="govuk-table__cell">{{ barrier.sectors }}</td>
                    <td class="govuk-table__cell">{{ barrier.simple_location }}</td>
                    {% if request.resolved %}
                        <td class="govuk-table__cell">
                            {% if barrier.is_resolved and barrier.status_date %}
                                {{ barrier.status_date|date:"F Y" }}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2 class="filter-results-comment">There are no reported trade barriers.</h2>
        {% endif %}
    </section>

    <section>
        <p class="govuk-body">Are you facing a new trade barrier to your business? Contact us on <a class="govuk-link" href="https://www.great.gov.uk/report-trade-barrier/">report a trade barrier</a>.</p>
    </section>
{% endblock %}
