{% extends 'base.html' %}
{% block page_title %}Sorry, there is a problem with the service - {{ block.super }} - GOV.UK{% endblock %}

{% block breadcrumbs %}
<!-- No breadcrumbs on the service unavailable page -->
{% endblock %}

{% block page_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
            <p class="govuk-body">Try again later.</p>
            <p class="govuk-body">
                We have not saved your progress. When the service is available, you will have to start again.
            </p>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Contact the team</a> if the problem persist.
            </p>
        </div>
    </div>
{% endblock %}
