<p class="govuk-body">
    Have you
    <a class="govuk-link" href="https://www.gov.uk/check-duties-customs-exporting" target="_blank">
        checked duties and customs procedures for exporting goods
    </a>?
</p>

<p class="govuk-body">Find out about non-tariff regulations, download a list of trade barriers and set up email alerts for potential future trade problems on
    <a class="govuk-link" href="https://www.gov.uk/guidance/report-a-trade-barrier#further-information" target="_blank">
        gov.uk
    </a>.
</p>
