<p class="govuk-body">
    If a trade barrier is affecting your exports or investment from the UK, please let us know on
    <a class="govuk-link" href="https://www.great.gov.uk/report-trade-barrier/" target="_blank">
        report a trade barrier
    </a>.
</p>

<p class="govuk-body">
    If you export goods you can
    <a class="govuk-link" href="https://www.gov.uk/check-duties-customs-exporting" target="_blank">
        check duties and customs procedures
    </a> for your chosen market.
</p>
