<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if not caption %}
            <h1 class="govuk-heading-{{ size }}">{{ title }}</h1>
        {% endif %}
        {% if caption and above %}
            <span class="govuk-caption-{{ size }}">{{ caption }}</span>
            <h1 class="govuk-heading-{{ size }}">{{ title }}</h1>
        {% endif %}
        {% if caption and below %}
            <h1 class="govuk-heading-{{ size }} govuk-!-margin-bottom-0">{{ title }}</h1>
            <span class="govuk-caption-{{ size }} govuk-!-margin-bottom-9">{{ caption }}</span>
        {% endif %}
    </div>
</div>
