{% load query_params %}

{% if not request.cookie_preferences_set and request.path != '/cookies/' %}
    <div class="app-cookie-banner js--cookie-banner">
        <div class="cookie-banner__buttons govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="app-cookie-banner__message">
                        <span class="govuk-heading-m">Tell us whether you accept cookies</span>

                    <p class="govuk-body">We use <a class="govuk-link" href="{% url 'core:cookies' %}">cookies to collect
                        information</a> about how you use {{ settings.SERVICE_NAME }}. <br/>
                        We use this information to make the website work as well as possible and improve government
                        services.</p>

                    </p>
                    <button class="govuk-button js-accept-cookie app-cookie-banner__button-fixed-desktop">Accept all cookies</button>
                    <a href="{% url 'core:cookies' %}" class="govuk-button app-cookie-banner__button-fixed-desktop">Set cookie preferences</a>
                </div>
            </div>
        </div>
        <div class="cookie-banner__confirmation govuk-width-container" tabindex="-1">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <p class="govuk-body govuk-!-margin-top-4">
                        You’ve accepted all cookies. You can
                        <a class="govuk-link" href="{% url 'core:cookies' %}" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change
                            your cookie settings</a> at any time.
                        <a class="govuk-link hide-button" href="#">Hide</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if request.cookie_preferences_set and not request.global_bar_seen %}
    <div id="cookie-banner">
        <div id="global-bar-seen" class="govuk-width-container" tabindex="-1">
            <p class="govuk-body" role="alert">You’ve set your cookie preferences. You can <a
                    class="govuk-link" href="{% url 'core:cookies' %}" data-module="track-click"
                    data-track-category="cookieBanner"
                    data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a>
                at any time.</p>
            <a class="govuk-button" role="button" href="{% current_path %}">Hide</a>
        </div>
    </div>
{% endif %}
