{% extends "base.html" %}

{% block page_title %}Accessibility statement - {{ block.super }}{% endblock %}

{% block page_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Accessibility statement for Check international trade barriers</h1>
            <p class="govuk-body">This accessibility statement applies to Check International Trade Barriers service. It is part of the wider GOV.UK website which has a separate <a class="govuk-link" href="https://www.gov.uk/help/accessibility">accessibility statement</a>.</p>
            <p class="govuk-body">This service is run by the Department for Business and Trade (DBT). We want as many people as possible to be able to use this service. For example, that means you should be able to: </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>get from the start of the service to the end using just a keyboard</li>
                <li>get from the start of the service to the end using speech recognition software</li>
                <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>
            <p class="govuk-body">We’ve also made the text in the service as simple as possible to understand.</p>
            <p class="govuk-body"><a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

            <h2 class="govuk-heading-l">Feedback and contact information</h2>
            <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, email <a class="govuk-link" href="mailto:digitalmarketaccess@digital.trade.gov.uk">digitalmarketaccess@digital.trade.gov.uk</a>.</p>

            <h2 class="govuk-heading-l">Reporting accessibility problems with this service</h2>
            <p class="govuk-body">We’re always looking to improve the accessibility of this online service.</p>
            <p class="govuk-body">If you find any problems that aren’t listed on this page or think we’re not meeting the requirements of the accessibility regulations, contact: <a class="govuk-link" href="mailto:help@digital.trade.gov.uk">help@digital.trade.gov.uk</a> giving details of the issue and any assistive technology you are using.</p>

            <h2 class="govuk-heading-l">Enforcement procedure</h2>
            <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

            <h2 class="govuk-heading-l">Technical information about this service’s accessibility</h2>

            <p class="govuk-body">DBT is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

            <h2 class="govuk-heading-l">Compliance status</h2>

            <p class="govuk-body">The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>
            <p class="govuk-body">This website is fully compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>

            <h2 class="govuk-heading-l">How we tested this service</h2>
            <p class="govuk-body">The service was last tested on 16 September 2023 and was checked for compliance with WCAG 2.2 AA. The test was carried out by the Digital Accessibility Centre.</p>

            <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
            <p class="govuk-body">This statement was prepared on 23 September 2020. It was last reviewed on 4 December 2023.</p>
            <p class="govuk-body">The service was last tested on 16 September 2023 and was checked for compliance with WCAG 2.2 AA. The test was carried out by the Digital Accessibility Centre.</p>
            <p class="govuk-body">DAC have a team of experienced auditors and analysts, many of whom are disabled individuals and users of adaptive technology.</p>
            <p class="govuk-body">The website was tested using a combination of pan-disability user feedback using a range of adaptive technologies and a technical audit using automated tools. The findings were combined to provide more accurate feedback. </p>
        </div>
    </div>
{% endblock %}
