{% extends "base.html" %}

{% block page_title %}Disclaimer - {{ block.super }}{% endblock %}

{% block page_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Disclaimer</h1>

            <p class="govuk-body">
                The information in the ‘Check international trade barriers’ service may not be used, copied or extracted
                by users of the service for resale (or in the provision of consultancy services), redistribution,
                building of databases, storage, or for any purpose other than reference use by a United Kingdom user
                located within the United Kingdom in support of the user's own international business processes in the
                United Kingdom. The Department accepts no responsibility for the use or consequences of use of the data
                contained on this service by any third party.
            </p>

            <p class="govuk-body">
                This is an information only service and none of the information contained in this service should be
                taken to suggest that a business cannot or should not export to a particular country or market. The
                relative number of barriers in any given country or market should not be taken as an indication of the
                difficulty or ease in which that market can be accessed. The Department notes that there may be work
                arounds to barriers or alternative routes of entry.
            </p>

            <p class="govuk-body">
                None of the information contained in this service forms part of any official documents. Some of the
                information being shared has been provided by UK businesses. Care has been taken to ensure the accuracy
                of the information contained within the service, but the Department for International Trade accepts no
                responsibility or liability for any inadvertent errors or omissions. Publication of a barrier or
                barriers on this service is not an indication of whether the Department of International Trade intends
                to act to address particular barriers. No personal data will be published on this service.
            </p>

            <p class="govuk-body">
                By clicking proceed and viewing the data you are acknowledging this disclaimer and agreeing to these
                terms for use of the service.
            </p>

            <h2 class="govuk-heading-m">What barriers are not included in the service</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Barriers affecting import into the UK</li>
                <li>Barriers which are sensitive for security reasons</li>
                <li>Barriers that identify a business even once individual details are removed due to niche/closed
                    nature of market
                </li>
                <li>Barriers which are politically sensitive</li>
                <li>Barriers for which insufficient/incomplete information is available</li>
                <li>Barriers which require further internal investigation</li>
            </ul>

            <p class="govuk-body">
                Please use the ‘feedback’ function to let us know of any issues or queries you have regarding this
                service.
            </p>

        </div>
    </div>
{% endblock %}
