{% extends "base.html" %}

{% block page_title %}Disclaimer - {{ block.super }}{% endblock %}

{% block page_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Disclaimer</h1>

            <p class="govuk-body">
                The information in the ‘Check barriers to trading and investing abroad’ service is published under the 
                Open Government License: http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/.
            </p>
           
            <p class="govuk-body">
                The Department accepts no responsibility for the use or consequences of use of the data contained on 
                this service by any third party.
            </p>

            <p class="govuk-body">
                This is an information only service and none of the information contained in this service should be
                taken to suggest that a business cannot or should not export to a particular country or market. The
                relative number of barriers in any given country or market should not be taken as an indication of the
                difficulty or ease in which that market can be accessed. The Department notes that there may be work
                arounds to barriers or alternative routes of entry and that users should make their own investigations
                when making decisions about their own activities.
            </p>

            <p class="govuk-body">
                None of the information contained in this service forms part of any official documents and is not
                intended to provide financial or legal advice. Some of the information being shared has been provided by
                UK businesses. Care has been taken to ensure the accuracy of the information contained within the
                service, but the Department for International Trade accepts no responsibility or liability for any
                inadvertent errors or omissions.
            </p>

            <p class="govuk-body">
                The “Date Reported” field represents the date that a given barrier was incorporated onto the service
                internally and does not represent the date first reported by a third party or the date of publication
                onto this public service. The barriers reported herein represent barriers reported at the time of
                publication and may have been changed or removed prior to updates of this service. Publication of a
                barrier or barriers on this service is not an indication of whether the Department of International
                Trade intends to act to address particular barriers. No personal data will be published on this service.
            </p>

            <p class="govuk-body">
                By clicking proceed and viewing the data you are acknowledging this disclaimer and agreeing to these
                terms for use of the service.
            </p>

            <h2 class="govuk-heading-m">What barriers are not included in the service</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Barriers affecting imports into the United Kingdom</li>
                <li>Barriers which are sensitive for security reasons</li>
                <li>Barriers that identify a business even once individual details are removed due to niche/closed
                    nature of market
                </li>
                <li>Barriers which are politically sensitive</li>
                <li>Barriers for which insufficient/incomplete information is available</li>
                <li>Barriers which require further internal investigation</li>
            </ul>

            <p class="govuk-body">
                Please use the <a class="govuk-link" href="{% url "feedback:splash" %}">feedback</a> function to let us
                know of any issues or queries you have regarding this service.
            </p>

        </div>
    </div>
{% endblock %}
